grts_base_and_over_ NW_E-under5-High-one
grts_base_and_overNW_E-under5-High-many
grts_base_and_overNW_E-under5-High-one
grts_base_and_overNW_E-under5-Low-many
grts_base_and_overNW_E-under5-Low-one
grts_base_and_overNW_E-under5-Moderate-many
grts_base_and_overNW_E-under5-Unburned-none
grts_base_and_over_ NW_E-under5-High-many
grts_base_and_over_ NW_E-under5-Low-many
grts_base_and_over_ NW_E-under5-Low-one
grts_base_and_over_ NW_E-under5-Moderate-many
grts_base_and_over_ NW_E-under5-Unburned-none
grts_base_and_over_ SE_W-under5-Low-many
grts_base_and_over_ SE_W-under5-Low-one
grts_base_and_over_ SE_W-under5-Moderate-one
grts_base_and_over_ SE_W-under5-Unburned-none
